.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.label span {
    cursor: pointer;
    font-size: 14px;
    color: #10b981;
}

.label span:hover {
    color: #34d399;
}
